@model EdsBikeRides.Models.Ride

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Ride</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RideDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RideDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bike.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bike.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
